h2{
    color: gray;
}
.card_img{
    display: flex;

}
.card_img > image{
    width: 100%;
}
img{
    width: 200px;
    height: 250px;
    border: 1px solid salmon;
    object-fit: cover;
    margin-right: 10px;
}